body {
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: hsl(257, 7%, 63%);
}
nav {
  width: 85vw;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 10%;
}
.navdiv1 {
  font-weight: 700;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: hsl(257, 7%, 63%);
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  flex: 2;
}
.navdiv1 > div:hover {
  color: black;
}
.ShortlyBold {
  font-size: 2rem;
  color: black;
}
.navdiv2 {
  font-weight: 700;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: hsl(257, 7%, 63%);
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 3;
}
.hamburger {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.linee {
  display: block;
  height: 3px;
  width: 100%;
  background-color: hsl(257, 7%, 63%);
}

@media screen and (max-width: 1108px) {
  nav {
    width: 90vw;
  }
}
/* @media screen and (max-width: 1108px) {
  body {
    padding: 2% 4%;
  }
} */

@media screen and (max-width: 650px) {
  .navdiv1 div:nth-child(n + 2) {
    display: none;
  }
  .login {
    display: none;
  }
  .signup {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}
